/* General styles for the carousel container */
.cardCarousal {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: 0px solid pink;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%;
  max-width: 1370px;
  margin: auto;
  scroll-snap-type: x mandatory; /* Add scroll snap to improve user experience */
}

/* Hide the scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.cardCarousal::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide the scrollbar for Firefox */
.cardCarousal {
  scrollbar-width: none; /* Firefox: hides the scrollbar */
  
}


/* Individual card styles */
.card {
  border: 1px solid black;
  padding: 0;
  border-radius: 20px;
  margin: 0;
  min-width: 300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.3s ease; /* Smooth scaling effect on hover */
  scroll-snap-align: start; /* Snap the card to the start when scrolling */
}

/* Card image styles */
.card img {
  width: 100%;
  height: 120%;
  /* object-fit: cover;  */
  object-position: center;
  transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}

/* Hover effect for the image */
.card:hover img {
  transform: scale(1.1); /* Zoom in on hover */
}

/* Animation for horizontal scrolling (optional) */
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media queries */

/* Styles for devices with a screen width of 768px or less */
@media (max-width: 768px) {
  .cardCarousal {
    display:flex;
    flex-direction: row; /* Ensure the flex direction is row */
    width: 100%; /* Decrease the width to 95% */
    max-width:700px
  }

  .card {
    min-width: 250px;
    height: 180px;
  }

  .card img {
    object-fit: cover;
  }                 
}

/* Styles for devices with a screen width of 425px or less */
@media (max-width: 430px) {
  .card {
    min-width: 150px;
    height: 140px;
  }
  .cardCarousal {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: 0px solid pink;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%;
    max-width:370px
  }

  .card img {
    object-fit: cover;
  }
}

@media (max-width: 380px) {
  .card {
    min-width: 150px;
    height: 140px;
  }
  .cardCarousal {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: 0px solid pink;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%;
    max-width:340px
    
  }

  .card img {
    object-fit: cover;
  }
}

@media (max-width: 320px) {
  .card {
    min-width: 150px;
    height: 140px;
  }
  .cardCarousal {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: 0px solid pink;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%;
    max-width: 270px;
  }

  .card img {
    object-fit: cover;
  }
}
