/* src/jobseekerUI/body/content/jobDescription.css */

.jobDescription {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: 20px auto; /* Center the container */
}

.jobDescription .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.jobDescription h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.applyButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.applyButton:hover {
  background-color: #0056b3;
}

.jobDescription p {
  margin: 10px 0;
}

.skills {
  width: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .skills {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .jobDescription {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .skills {
    width: 100%;
  }
  .jobDescription {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .skills {
    width: 100%;
  }
  .jobDescription {
    width: 100%;
  }
}
