/* src/jobseekerUI/body/content/jobDescription.css */

.jobDescription {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.jobDescription .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #007bff;
}

.jobDescription h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.applyButton {
  background-color: rgb(9, 9, 10);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.applyButton:hover {
  background-color: #0056b3;
}

.jobDescription p {
  margin: 10px 0;
}


.skills{
  width:1000px;
  overflow:auto
}

@media (max-width:768px){
  .skills{
    width:400px;
    overflow:auto
  }
}

@media (max-width: 430px) {
  
  .skills{
    width:400px;
    overflow:auto
  }
  .jobDescription{
    width:100%%
  }
}


@media (max-width: 380px) {
  .header {
    width: 100%;
    max-width:1000px
  }
  .skills{
    width:330px;
    overflow:auto
  }
  .jobDescription{
    width:100%
  }
}

@media (max-width: 320px) {
 
  .header {
    width: 100%;
    max-width:1000px;
  }
    .skills{
      width:300px;
      overflow:auto
    }
    .jobDescription{
      width:100%%
    }
  
}
