/* src/body/Body.css */
.body-container {
  height: 80%%; /* Ensures it fills the entire height of the Body component */
  box-sizing: border-box; /* Ensures padding is included in dimensions */
}

.content {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(85, 8, 8, 0.1); /* Adds shadow for a card-like effect */
  border-radius: 8px;
  overflow-y: auto; /* Ensures scrolling if content overflows */
}

@media (max-width: 768px) {
  .body-container {
    width: 100%;
  }
}
