
.job-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  background-color: rgb(2, 73, 108);
}

.job-card {
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.job-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.job-header {
  margin-bottom: 16px;
  text-align: center;
  color: #333;
  font-family: "Arial", sans-serif;
}

.company-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

.job-location {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.job-title {
  font-size: 20px;
  margin: 10px 0;
  font-weight: bold;
  color: #222;
  text-align: center;
}

.job-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  text-align: justify;
}

.job-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  font-size: 12px;
  padding: 6px 10px;
  background-color: #e7f3ff;
  border-radius: 15px;
  color: #0056b3;
  font-weight: 500;
  border: 1px solid #b3d7ff;
}

.job-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.details-btn,
.save-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.details-btn {
  background-color: #0056b3;
  color: white;
}

.details-btn:hover {
  background-color: rgb(24, 214, 24);
}

.save-btn {
  background-color: #ff8400;
  color: black;
}

.save-btn:hover {
  background-color: #ff8400;
}
.no-jobs-message {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}