.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(47, 58, 124);
  position: sticky;
  top: 0; /* Will stick to the top as you scroll */
  width: 100%;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(243, 241, 247, 0.71); /* Added shadow for better look */
  /* margin-top:10px */
}

.header-logo img {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  transition: transform 0.3s ease; /* Smooth zoom on hover */
}

.header-logo img:hover {
  transform: scale(2.1); /* Zoom in the logo on hover */
}

.title {
  /* color: purple; */
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase; /* Uppercase for a stronger look */
}

.header-profile {
  position: relative;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Smooth shadow on hover */
}

.profile-avatar:hover {
  box-shadow: 0 4px 8px rgba(138, 21, 35, 0.3); /* Shadow on hover */
}

/* Menu styles */
.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.menu-item {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background change */
}

.menu-item:hover {
  background-color: #f0f0f0; /* Light background on hover */
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .header {
    width: 99%;
  }
}

@media (max-width: 380px) {
  .header {
    width: 100%;
    padding-right:360px
  }
  .header-logo img {
    height: 30px;
    width: 30px;
  }
  .title {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px; /* Adjust font size for small screens */
    padding-left:100px;
    padding-right:90px
  }
}

@media (max-width: 320px) {
  .header {
    /* flex-direction: row; */
    /* padding-left: 45px; */
    padding-right: 310px;
    width:10%
  }
  .header-logo img {
    height: 30px;
    width: 30px;
  }
  .title {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px; /* Adjust font size for small screens */
    padding-left:80px;
    padding-right:60px
  }
}
