
.css-zhkk7h{
    width:90%
}
.box-container{
    width:60%;
    margin: auto;
    padding: 20px
}
@media (min-width:300px) and (max-width:468px){
    .box-container{
        width:100%
    }
}